.js-toc a.is-active-link {
    color: var(--accent-brand);
    border-left: 1px solid var(--accent-brand);
    opacity: 1;
}

.js-toc a {
    display: block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    opacity: 0.5;
}

.js-toc a:hover {
    text-decoration: underline;
}
